.note {
  width: 95%;
  height: 7rem;
  padding: 0.5rem 1rem;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 1rem 0 0 0;
}

.title-and-pin-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.note-title {
  font-weight: bold;
  overflow: hidden;
}

.note-content {
  overflow: hidden;
}

.note-actions {
  width: auto;
  display: flex;
  justify-content: flex-end;
  margin-right: 0.2rem;
}

.btn-icon {
  background: none;
  border: none;
  padding: 0 0.5rem;
  font-size: 1.4rem;
  transition: all 0.5s ease;
  cursor: pointer;
}

.btn-icon:hover {
  color: #e5e5e5;
  /* background-color: var(--border); */
  /* border-radius: 0.2rem; */
}

.pin:hover {
  color: #fff;
  background: none;
  border-radius: 0;
}

.color-picker {
  visibility: hidden;
}

.link {
  text-decoration: none;
  color: var(--primary-text);
  font-size: 1.1rem;
}

.link:hover {
  color: inherit;
  font-weight: inherit;
}