.note-editor-actions-container {
  width: 100%;
  background: #000;
  color: #fff;
  margin: 0.3rem 0 0 0;
}

.actions {
  width: 100%;
  padding: 0.7rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.font-drop-down {
    position: relative;
    bottom: 0.32rem;
}

.btn-icon-editor {
  background: none;
  border: none;
  padding: 0 0.1rem;
  font-size: 1.2rem;
  color: #fff;
  cursor: pointer;
}

.btn-icon-editor:hover {
  color: var(--primary-color);
  background: none;
  border: none;
}

.btn-icon-editor:focus {
  color: var(--primary-color);
  background: none;
  border: none;
}
