@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #fff;
  --primary-text: #000;
  --secondary-text: #f7941e;
  --primary-color: #f7941e;
  --accent: #f7941e;
  --border: #333;
}

[data-theme='dark'] {
  --background: #000;
  --text-primary: #fff;
  --text-secondary: #f7941e;
  --accent: #f7941e;
  --border: #808080;
}

.App {
  background-color: var(--background);
  color: var(--text-primary);
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  transform: all 0.5s ease;
  font-family: 'Montserrat', sans-serif;
}